<style type="text/css">
#contenedor {
    display: inline-block;
    display: inline;
    display: table;
    border: ;
    width: 500px;
    text-align: left;
    margin: top:20px;
    margin: 0 auto;
    left: 300px;
}
#contenidos {
    display: table-row;
    left: 300px;
    margin: top:300px;

}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border:;
    vertical-align: middle;
    padding: 5px;
    margin: top:100px;
        left: 300px;
    margin: top:300px;
    
}

#columna4, #columna5, #columna6 {
    display: table-cell;
    border:;
    width: 200px;

    vertical-align: middle;
    padding: 5px;
    margin: top:100px;
}
</style>