#principal {
    overflow: 100%;
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

#version {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;
}

.card {    
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Margen derecho entre las tarjetas */
    margin-right: 10px;
    /* Margen inferior entre las tarjetas */
    margin-left: 10px;    
}

.card-total {    
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Margen derecho entre las tarjetas */
    margin-right: 10px;
    /* Margen inferior entre las tarjetas */
    margin-left: 10px;    
}

.card-content {
    display: grid;
    grid-gap: 5px;
    width: 100%
}

.form-group {
    margin-bottom: 15px;    
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.label-class {
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    cursor: pointer;
    position: relative;
    /* z-index: 1; */
    margin: 0 auto;
    text-transform: initial;
  }

label::first-letter {
    text-transform: uppercase;
}
  
  .message-box-container {
    display: none;
    position: absolute;    
    top: 0;
    left: 0;
    pointer-events: none;    
    z-index: 2;
    margin: -23px 0 0 -20px;
  }

  .message-box {
    padding: 10px;
    background-color: #333; 
    color: white; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tooltip-container {
    position: relative; /* Contenedor relativo para el tooltip */
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}


.tooltip-arrow {
    position: absolute;
    top: 100%; /* Posiciona la flecha en la parte inferior del tooltip */
    left: 50%; /* Centra la flecha horizontalmente */
    margin-left: -5px; /* Ajuste fino para centrar la flecha */
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent; /* Flecha negra */
    width: 0; /* Necesario para la forma de la flecha */
    height: 0; /* Necesario para la forma de la flecha */
}

.label-class, .tooltiptext {
    text-transform: lowercase; /* Transforma todo el texto en minúsculas */
}

.label-class::first-letter, .tooltiptext::first-letter {
    text-transform: uppercase; /* Transforma la primera letra en mayúscula */
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputl {
    width: 87%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.selectInput {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 30px;
    box-sizing: border-box;
}

.textArea {    
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
}

.titles {
    padding-bottom: 2px;
}

.areaObservacion {
    float: right;
    align-items: center;
    display: flex;
    width: 80%;
    font-size: 10px;
}

.centerSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
  }
  