@charset "utf-8";
/* CSS Document */

/* positioning                LEFT TOP  */

.G-V-0{ background-position:  0px -0px;}	  /*sano- AZUL CLARO*/
.G-M-0{ background-position: -100px -0px; }
.G-L-0{ background-position: -200px -0px; }
.G-D-0{ background-position: -300px -0px; }
.G-O-0{ background-position: -400px -0px; }
.G-BIS-0{ background-position:  0px -1339px; }
.G-BII-0{ background-position: -96px -1338px; }

.G-V-1{ background-position:  0px -100px;}	  /*obturacion amalgama buen estado - AZUL*/
.G-M-1{ background-position: -100px -100px; }
.G-L-1{ background-position: -200px -100px; }
.G-D-1{ background-position: -300px -100px; }
.G-O-1{ background-position: -400px -100px; }

.G-V-2{ background-position:  0px -300px;}	  /*OBTURACION RESINA BUEN ESTADO- AMARILLO*/
.G-M-2{ background-position: -100px -300px; }
.G-L-2{ background-position: -200px -299px; }
.G-D-2{ background-position: -300px -300px; }
.G-O-2{ background-position: -400px -300px; }

.G-V-3{ background-position:  0px -200px;}	  /*OBTURACION TEMPORAL BUEN ESTADO- VERDE*/
.G-M-3{ background-position: -100px -200px; }
.G-L-3{ background-position: -200px -200px; }
.G-D-3{ background-position: -300px -200px; }
.G-O-3{ background-position: -400px -200px; }

.G-V-4{ background-position:  0px -945px;}	 /*caries*/
.G-M-4{ background-position: -100px -945px; }
.G-L-4{ background-position: -200px -946px; }
.G-D-4{ background-position: -300px -945px; }
.G-O-4{ background-position: -400px -945px; }

.G-V-8{ background-position:  0px   -1230px;}	 /*placa */
.G-M-8{ background-position: -100px -1230px; }
.G-L-8{ background-position: -200px -1230px; }
.G-D-8{ background-position: -300px -1230px; }
.G-O-8{ background-position: -400px -1230px; }


.G-V-5{ background-position:  0px -650px;}	 /*obturacion amalgama MAL estado*/
.G-M-5{ background-position: -100px -650px; }
.G-L-5{ background-position: -200px -650px; }
.G-D-5{ background-position: -300px -650px; }
.G-O-5{ background-position: -400px -650px; }

.G-V-6{ background-position:  0px -850px;}	 /*obturacion RESINA MAL estado - AMARILLO ROJO*/
.G-M-6{ background-position: -100px -850px; }
.G-L-6{ background-position: -200px -850px; }
.G-D-6{ background-position: -300px -850px; }
.G-O-6{ background-position: -400px -850px; }

.G-V-7{ background-position:  2px -750px;}	 /*obturacion TEMPORAL MAL estado - VERDE ROJO*/
.G-M-7{ background-position: -100px -750px; }
.G-L-7{ background-position: -200px -750px; }
.G-D-7{ background-position: -300px -750px; }
.G-O-7{ background-position: -400px -750px; }

.G-V-9{ background-position:  -2px -1779px;}	 /*fractura*/
.G-M-9{ background-position: -94px -1778px; }
.G-L-9{ background-position: -198px -1791px; }
.G-D-9{ background-position: -296px -1780px; }
.G-O-9{ background-position: -398px -1777px; }


.G-BIS-10{ background-position:  -402px -2109px; }  /*abrasión*/
.G-BII-10{ background-position: -3px -2208px; }


.G-BIS-11{ background-position:  -198px -2110px; }  /*recesión buen estado*/
.G-BII-11{ background-position: -300px -2109px; }


.G-BIS-12{ background-position:  -1px -2109px; }  /*recesión mal estado*/
.G-BII-12{ background-position: -95px -2103px; }


.G-V-13{ background-position:  7px -2392px;}	 /*TRAUMA B ESTADO*/
.G-M-13{ background-position: -95px -2392px; }
.G-L-13{ background-position: -195px -2392px; }
.G-D-13{ background-position: -295px -2394px; }
.G-O-13{ background-position: -395px -2392px; }

.G-V-14{ background-position: 5px -2532px; }	 /*mal estado*/
.G-M-14{ background-position: -95px -2532px; }
.G-L-14{ background-position: -195px -2532px; }
.G-D-14{ background-position: -295px -2532px; }
.G-O-14{ background-position: -395px -2532px; }

.G-V-15{ background-position:  3px -2677px;}	 /*cAVITACIONAL a*/
.G-M-15{ background-position: -89px -2675px; } /*d*/
.G-L-15{ background-position: -194px -2688px; } /*ab*/
.G-D-15{ background-position: -291px -2678px; } /*iz*/
.G-O-15{ background-position: -393px -2675px; } /*m*/



.sellanteG{ background-position: -200px -1040px; } 
.sellanteXhacerG{ background-position: -300px -1040px; } 
.sellanteRealizadoG{background-size: 58px 48px;}
.extraidoG{ background-position: -201px -400px; }
.extraidoXcariesG{ background-position: -3px -1986px; }
.incluidoG{ background-position: -207px -1113px; }
.coronaG{ background-position:  -3px -400px;}
.coronaXhacerG{ background-position:  -299px -400px;}
.nucleoG{ background-position:  -400px -1040px;}
.nucleoXhacerG{ background-position:  -400px -1130px;}
.endodonciaG{ background-position:  -105px -395px;}	
.endodonciaXhacer{ background-position:  -400px -472px;}	
.exodonciaIndiG{ background-position: -0px -1050px; }
.exodonciaPreG{ background-position: -94px -1988px; }
.erupcionG{ background-position: -100px -1044px; }
.aplicarADiente{ background-position: -400px -1050px; }
.protesisRemovible{ background-position: -305px -1150px; }
.protesisRemovibleX{ background-position: -302px -2024px; }
.dsanoG{ background-position: -401px -1985px; }
.grande { width: 100px; height: 100px; background-image: url(images/NUEVA_SABANA.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.grande2 { width: 98px; height: 100px; background-image: url(images/NUEVA_SABANA.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.grande3 { width: 103px; height: 100px; background-image: url(images/NUEVA_SABANA.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.grande4 { margin-left: 20px; margin-top: 20px; width: 100px; height: 100px; background-image: url(images/S_R.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


.todoLimpio{ background-position: -217px -217px; } 	
.protesisG{ background-position:  -400px -425px;}
.protesisXhacer{ background-position:  -400px -447px;}
.sinErupcionarG{ background-position:  -300px -520px;}
.marcos { width: 100px; height: 22px; background-image: url(images/NUEVA_SABANA.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }	



.puntiAzul{ background-position:  0px -500px;}	
.puntiVerd{ background-position:  -20px -500px;}	
.puntiAmar{ background-position:  -40px -503px;}	
.lasS{ background-position:  -60px -504px;}	
.elIgual{ background-position:  -85px -500px;}	
.cruzCaida{ background-position:  -212px -502px;}	
.elAritoAzul{ background-position:  -111px -500px;}	
.triangulitoAroAzul{ background-position: -185px -500px;}	
.triangulitoAroRojo{ background-position: -185px -525px;}	
.triangulito{ background-position:  -138px -500px;}	
.palito{ background-position:  -160px -500px;}	
.palitoAzul{ background-position:  -163px -501px;}	
.ncita{ background-position:  -177px -500px;}	
.rcita{ background-position:  -199px -500px;}	
.elAritoNegro{ background-position:  -221px -500px;}
.limpioDiente{ background-position:  -246px -500px;}
.puntiAzulMalEstado{ background-position:  0px -525px;}	
.puntiVerdMalEstado{ background-position:  -20px -525px;}	
.puntiAmarMalEstado{ background-position:  -40px -525px;}
.lasSRoja{ background-position:  -60px -525px;}
.elIgualRoja{ background-position:  -85px -525px;}	
.elAritoRoja{ background-position:  -110px -525px;}	
.triangulitoRoja{ background-position:  -138px -525px;}	
.exodonciaIndicada{ background-position:  -160px -525px;}	
.incluido{ background-position:  -250px -500px;}
.ausent{ background-position:  -250px -525px;}
.erupcionPunto{ background-position:  -275px -525px;}
.ncitaRoja{ background-position:  -177px -525px;}	
.rcitaRoja{ background-position:  -199px -525px;}	
.caries{ background-position:  -212px -525px;}
/*Modificación*/	
.abrasion{ background-position:  0px -2334px;}
.fractura{ background-position:  -24px -2334px;}
.cruzCaidaroja { background-position:  -118px -2334px;}
.extraccionXCaries { background-position:  -44px -2334px;}
.puntiCian { background-position:  -64px -2334px;}
/*.puntiCianMalEstado { background-position:  -297px -2334px;}*/
.ccavitacional { background-position:  -252px -2334px;}
.traumaBuenEstado { background-position:  -349px -2334px;}
.traumaMalEstado { background-position:  -300px -2334px;}
.puntisano { background-position:  -140px -2334px;}
.exodonciaPresente{ background-position:  -167px -2334px;}
.placa{background-position: -198px -2334px;}	
.lasSRealizado{ background-size: 20px 17px;}

.puntos { width: 20px; height: 20px; background-image: url(images/NUEVA_SABANA.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }	
.puntos2 { width: 10px; height: 20px; background-image: url(images/NUEVA_SABANA.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }	
.puntos3 { width: 20px; height: 20px; background-image: url(images/S_R.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }	
	
	
/*----------------------------------------------------------   PEQUEÑOS   ---------------------------------*/	


.M-V-0{ background-position:  0px 0px;}	 
.M-M-0{ background-position: -40px 0px; }
.M-L-0{ background-position: -80px 0px; }
.M-D-0{ background-position: -120px 0px; }
.M-O-0{ background-position: -160px 0px; }
.M-BIS-0{ background-position: -160px -619px; }
.M-BII-0{ background-position: -1px -676px; }

.M-V-1{ background-position:  0px -40px;}	 
.M-M-1{ background-position: -40px -40px; }
.M-L-1{ background-position: -80px -40px; }
.M-D-1{ background-position: -120px -40px; }
.M-O-1{ background-position: -160px -40px; }

.M-V-2{ background-position:  0px -120px;}	 /*OBTURACION RESINA BUEN ESTADO - AMARILLO*/
.M-M-2{ background-position: -40px -120px; }
.M-L-2{ background-position: -80px -120px; }
.M-D-2{ background-position: -120px -120px; }
.M-O-2{ background-position: -160px -120px; }

.M-V-3{ background-position:  0px -80px;}	 /* OBTURACION TEMPORAL BUEN ESTADO - VERDE */
.M-M-3{ background-position: -40px -80px; }
.M-L-3{ background-position: -80px -80px; }
.M-D-3{ background-position: -120px -80px; }
.M-O-3{ background-position: -160px -80px; }

.M-V-4{ background-position:  0px -378px;}	 /*caries*/
.M-M-4{ background-position: -40px -378px; }
.M-L-4{ background-position: -80px -378px; }
.M-D-4{ background-position: -120px -378px; }
.M-O-4{ background-position: -160px -378px; }


.M-V-8{ background-position:  0px -491px;}	 /*placa con cara de caries*/
.M-M-8{ background-position: -40px -491px; }
.M-L-8{ background-position: -80px -491px; }
.M-D-8{ background-position: -120px -491px; }
.M-O-8{ background-position: -160px -491px; }


.M-V-5{ background-position:  0px -260px;}	 /*obturacion amalgama MAL estado*/
.M-M-5{ background-position: -40px -260px; }
.M-L-5{ background-position: -80px -260px; }
.M-D-5{ background-position: -120px -260px; }
.M-O-5{ background-position: -160px -260px; }

.M-V-6{ background-position:  0px -340px;}	 /*OBTURACIÓN RESINA MAL ESTADO - AMARILLO ROJO*/
.M-M-6{ background-position: -40px -340px; }
.M-L-6{ background-position: -80px -340px; }
.M-D-6{ background-position: -120px -340px; }
.M-O-6{ background-position: -160px -340px; }

.M-V-7{ background-position:  0px -300px;}	 /*OBTURACIÓN TEMPORAL MAL ESTADO - VERDE ROJO*/
.M-M-7{ background-position: -40px -300px; }
.M-L-7{ background-position: -80px -300px; }
.M-D-7{ background-position: -120px -300px; }
.M-O-7{ background-position: -160px -300px; }

.M-V-9{ background-position:  -0px -569px;}	 /*fractura*/
.M-M-9{ background-position: -40px -575px; }
.M-L-9{ background-position: -80px -572px; }
.M-D-9{ background-position: -119px -575px; }
.M-O-9{ background-position: -158px -575px; }

.M-BIS-10{ background-position: -5px -618px; } /*abrasión*/
.M-BII-10{ background-position: -39px -627px; }

.M-BIS-11{ background-position: -81px -815px; } /*recesión buen estado*/
.M-BII-11{ background-position: -116px -823px; }

.M-BIS-12{ background-position: -160px -816px; } /*recesión mal estado*/
.M-BII-12{ background-position: 1px -869px; }


.M-V-15{ background-position:  -2px -950px;}	 /*caries*/
.M-M-15{ background-position: -43px -940px; }
.M-L-15{ background-position: -83px -940px; }
.M-D-15{ background-position: -123px -940px; }
.M-O-15{ background-position: -163px -940px; }


.M-V-14{ background-position:  -4px -1020px;}	 /*caries*/
.M-M-14{ background-position: -43px -1020px; }
.M-L-14{ background-position: -85px -1020px; }
.M-D-14{ background-position: -125px -1020px; }
.M-O-14{ background-position: -165px -1020px; }


.M-V-13{ background-position:  -2px -1100px;}	 /*caries*/
.M-M-13{ background-position: -43px -1100px; }
.M-L-13{ background-position: -83px -1100px; }
.M-D-13{ background-position: -123px -1100px; }
.M-O-13{ background-position: -163px -1100px; }


.protesisP{ background-position:  -120px -420px;}
.protesisXhacerP{ background-position:  -80px -420px;}
.protesisRemovibleP{ background-position:  -80px -454px;}
.protesisRemovibleXP{ background-position:  -40px -871px;}
.coronaP{ background-position:  -2px -160px;}	
.coronaXhacerP{ background-position: -122px -161px; }
.nucleoP{ background-position:  -2px -215px;}	
.nucleoXhacerP{ background-position: -120px -215px; }
.endodonciaP{ background-position:  -42px -160px;}	
.endodonciaXhacerP{ background-position:  -160px -160px;}	
.exodonciaIndiP{ background-position: -0px -420px; }
.exodonciaPreP{ background-position: -158px -868px; }
.extraidoP{ background-position: -80px -160px; }
.extraidoXcariesP{ background-position: -82px -868px; }
.incluidoP{ background-position: -120px -451px; }
.sinErupcionarP{ background-position: -160px -420px; }
.erupcionP{ background-position: -40px -421px; }
.inicial{ background-position: -80px -454px; }
.sellanteP{ background-position: -0px -451px; }
.sellanteXhacerP{ background-position: -40px -454px; }
.sellanteRealizadoP{background-size: 30px 24px;}
.sanoP{ background-position: -117px -868px; }

/*.todoLimpioM{ background-position: -217px -217px; } 	pa borrar*/
.pequeno { width: 39px; height: 38px; background-image: url(images/NUEVA_SABANA_M.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.pequeno2 { width: 39px; height: 30px; background-image: url(images/NUEVA_SABANA_M.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }	
.pequeno3 { margin-left: 5px; margin-top: 7px; width: 39px; height: 30px; background-image: url(images/S_R.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }	
